.bug-report {
  position: fixed;
  bottom: 40px;
  right: 0;
}

.btn-bug-report {
  border-radius: 100px 0 0 100px;
  padding: 20px;
  background: #ddd !important;

  .bug-image {
    background-image: url($bug);
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: -10px;
  }
}
